icecream
slack-bolt
azure-data-tables
pandas
pydantic
nicegui
fastapi[standard]
tiktoken
llama-cpp-python
langchain
pymongo
motor
retry
authlib
starlette
pyjwt
praw
tldextract
openai
azure-servicebus
humanize
memoization
azure-monitor-opentelemetry
python-dotenv
