icecream
slack-bolt
pymongo
azure-data-tables
pandas
pydantic
nicegui
fastapi
cachetools
tiktoken
llama-cpp-python
langchain
pymongo
tiktoken
retry
pydantic
python-dotenv
icecream
pysqlite3-binary
chromadb